@import './menu.css';
@import './modal.css';


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}
.container {
    width: 968px;
    margin: 0 auto;
}
.main {
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
}
.main-greeting {
    position: relative;
    color: #044EA3;
    font-weight: 500;
    padding: 4px 0 4px 20px;
    margin-bottom: 40px;
}
.main-greeting::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #ff4242;
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.main-content__img {
    display: block;
    width: 40%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main-content__item {
    width: 50%;
}
.main-content__item-title {
    font-size: 24px;
    color: #000;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 40px;
}
.main-content__item-title span {
    color: #044EA3;
    font-weight: 600;
}
.main-content__item-btn {
    width: 200px;
    padding: 12px;
    color: #ffffff;
    text-align: center;
    background-color: #044EA3;
    cursor: pointer;
    opacity: 0.9;
    border-right: 4px solid #ff4242;
    transition: all 0.3s;
}
.main-content__item-btn:hover {
    width: 220px;
    border-right: 20px solid #ff4242;
    opacity: 0.8;
}
.info-saite {
    position: relative;
    padding: 40px 20px;
    border-right: 4px solid rgba(255, 66, 66,0.6);
    box-sizing: border-box;
    margin-bottom: 80px;
}
.info-saite__title {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 40px;
}
.info-saite__text {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
.info-saite__text span {
    color: #044EA3;
    font-weight: 600;
}
.school {
    border-left: 4px solid rgba(255, 66, 66,0.6);
    position: relative;
    margin-bottom: 80px;
}
.school-text {
    line-height: 1.6;
    padding: 0 20px;
}
.school-desing {
    position: absolute;
    right: 0;
    top: -100px;
    width: 400px;
    height: 500px;
    background-image: url(../img/owl.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.school-text span {
    color: #044EA3;
    font-weight: 600;
}

/* computer-programs */

.page-title {
    position: relative;
    color: #044EA3;
    font-weight: 500;
    padding: 4px 0 4px 20px;
    margin-bottom: 40px;
}
.page-title::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #ff4242;
}
.display-none {
    display: none;
}
.computer-programs-list {
    padding-left: 0;
    list-style-type: none;
}
.computer-programs-item {
    display: flex;
    margin-bottom: 80px;
}
.computer-programs-item__img {
    width: 25%;
    margin-right: 40px;
}
.computer-programs-item__img  img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.computer-programs-item__img a {
    display: block;
    width: 100%;
    background-color: #044EA3;
    padding: 14px 0;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s;
}
.computer-programs-item__img a:hover {
    background-color: #ff4242;
    opacity: 0.7;
}
.computer-programs-item__content {
    width: 70%;
}

/* BOOCKS */

.boocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
}
.boocks-item {
    width: 25%;
    margin: 40px;
}
.boocks-item__img {
    display: block;
    width: 100%;
}
.boocks-item__link {
    width: 100%;
    display: block;
    background-color: #044EA3;
    padding: 14px 0;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s;
}
.boocks-item__link:hover {
    background-color: #ff4242;
    opacity: 0.7;
}

/* evaluation */
.evaliation {
    margin-bottom: 100px;
}
.evaliation-title {
    font-size: 24px;
}
.evaliation-descriptions {
    line-height: 1.6;
    margin-bottom: 40px;
}
.evaliation-descriptions span {
    color: #044EA3;
    font-weight: 700;
    margin-right: 20px;
}
table {
    display: block;
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 80px;
}
thead {
    font-weight: 700;
}
table th,
table td {
    text-align: center;
    padding: 20px;
    border: 1px solid #000;

}
/* TEST */
.test-list {
    position: relative;
}
.test-desing {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
    height: 340px;
    background-image: url(../img/test-desing.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.test-item {
    position: relative;
    display: block;
    width: 40%;
    text-decoration: none;
    color: #000;
    padding: 30px;
    font-weight: 600;
    font-style: italic;
    border: 2px solid #044EA3;
    transition: all 0.3s;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.test-item::before {
    position: absolute;
    content: "";
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.test-item:hover {
    width: 50%;
    opacity: 0.8;
    color: #ffffff;
    padding-left: 50px;
    background-color: #044EA3;
}

/* Distance learning */


.distance-list {
    display: flex;
    justify-content: space-between;
}
.distance-list__item {
    width: 20%;
    cursor: pointer;
    transition: all 0.3s;
}
.distance-list__title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: #044EA3;
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: 0 0 4px rgba(0,0,0,0.8);
}
.distance-list__title span {
    font-size: 32px;
    color: #ffffff;
    font-weight: 800;
    transition: all 0.6s;
}
.distance-list__class {
    text-align: center;
    font-weight: 600;
}
.distance-list__item:hover {
    transform: translateY(-5%);
}
.distance-list__item:hover .distance-list__title {
    width: 120px;
    height: 120px;
    background-color: #ff4242;
    opacity: 0.8;
} 
.distance-list__item:hover .distance-list__title span {
    transform: rotate(-360deg);
}

